/********** Base styles **********/
* {
    box-sizing: border-box;
}

.desktop-title {
    margin: 50px;
    text-align: center;
}

.mobile-title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: Arial;
}

.card {
    border: 1px solid black;
    background-color: lightgray;
    margin: 10px;
}

.chicken {
    background: pink;
}

.beef {
    background: red;
    color: white
}

.sushi {
    background: palegoldenrod;
}

.card-content {
    margin-top: 20px;
    padding: 5px 10px;
}

h4.menu-title {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    margin: 10px;
}

h4.regular-menu-title {
    width: 115px;
    top: 0px;
    right: 0px;
}

div.col {
    position: relative;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/********** Desktop **********/
@media (min-width: 992px) {
    .mobile-title {
        display: none;
    }
    .col-lg-4 {
        float: left;
    }
    .col-lg-4 {
        width: 33.33%;
    }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
    .mobile-title {
        display: none;
    }
    .desktop-title {
        margin: 30px;
    }
    .col-md-6, .col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
    .card-md {
        height: 125px;
    }
}

/********** Mobile **********/
@media (max-width: 767px) {
    .desktop-title {
        display: none;
    }
    .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
}