/********** Base styles **********/
* {
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    border: 1px solid black;
    margin: 5px;
    background-color: orange;
}

.card-title {
    text-align: right;
    padding-right: 50px;
}

.card-content {
    margin: 20px;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/********** Desktop **********/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
    }
    .col-lg-4 {
        width: 33.33%;
    }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/********** Mobile **********/
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
}