<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as narrowItDown">
       <h1 class="centered">Narrow Down Your Chinese Menu Choice</h1>
       <div class="row">
           <div class="col-md-2"></div>
           <div class="col-md-8">
               <div class="input-group">
                   <input type="text" class="form-control" ng-model="narrowItDown.search" placeholder="Search Term">
                   <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="narrowItDown.narrow()">Narrow It Down For Me!</button>
                    </span>
               </div>
           </div>
           <div class="col-md-2"></div>
       </div>
       <found-items ng-show="narrowItDown.callCount > 0" found="narrowItDown.found" on-remove="narrowItDown.remove(index)"></found-items>
   </div>
   <script src="angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
